In [1]:
import pickle

In [2]:
df = pickle.load( open( "main_df.pickle", "rb" ) )

In [7]:
df

                                             transcript  type
0     i want to thank you very much north carolina t...     1
1     eric and lara named their daughter you know wh...     1
2     think so by the way look at this look back the...     1
3     fantastically theres never been a time where t...     1
4     to super thursday jobs are booming in our coun...     1
...                                                 ...   ...
2242  who helped rescue joshua from that hell on ear...     0
2243  hour they did not know if they would grow old ...     0
2244  slavery to build the railroads and the highway...     0
2245  this congress look at the opportunities before...     0
2246  summit and set our sights on the brightest sta...     0

[2247 rows x 2 columns]